<div class="arcade-container">
  <header>
    <h1 class="title">RODRIGO'S ARCADE</h1>
  </header>
  <div class="games-grid">
    <app-card-game
      routerLink="/snake"
      icon="🐍"
      title="Snake Game"
      description="O clássico. Coma, cresça e sobreviva!"
    />
    <app-card-game
      routerLink="/river-raid"
      icon="✈️"
      title="River Raid Game"
      description="O clássico de aviões do Atari!"
    />
    <app-card-game
      icon="🔒"
      title="Em Breve"
      description="Novos jogos estão sendo desenvolvidos."
      [disabled]="true"
    />
  </div>
</div>
