<div class="game-container">
  <app-arcade-back-button (backClick)="game.stopGame()"/>
  <div class="hud">
    <div class="stat-box">
      <span class="label">SCORE</span>
      <span class="value">{{ game.score() }}</span>
    </div>
    <div class="stat-box record">
      <span class="label">BEST</span>
      <span class="value">{{ game.highScore() }}</span>
    </div>
  </div>

  <div class="board-wrapper">
    <div class="board" [style.grid-template-columns]="gridStyle">
      @for (row of rows; track row) {
        @for (col of cols; track col) {
          <div class="cell"
               [ngClass]="{
                     'snake': isSnake(col, row),
                     'food': isFood(col, row),
                     'snake-head': isSnakeHead(col, row)
                   }">
          </div>
        }
      }
    </div>

    @if (game.status() === 'IDLE') {
      <div class="overlay start-screen">
        <h1>SNAKE</h1>
        <p>Use as setas para mover</p>
        <ng-container *ngTemplateOutlet="settingsTpl"></ng-container>
        <button class="btn-primary" (click)="game.startGame()">JOGAR AGORA</button>
      </div>
    }

    @if (game.status() === 'PAUSED') {
      <div class="overlay paused-screen">
        <h2>PAUSADO</h2>
        <button class="btn-secondary" (click)="game.pauseGame()">CONTINUAR</button>
      </div>
    }

    @if (game.status() === 'GAME_OVER') {
      <div class="overlay game-over-screen">
        <h2>GAME OVER</h2>
        <p>Score Final: {{ game.score() }}</p>
        <ng-container *ngTemplateOutlet="settingsTpl"></ng-container>
        <button class="btn-primary" (click)="game.startGame()">TENTAR DE NOVO</button>
      </div>
    }
  </div>

  <div class="controls-hint">
    <span>[Espaço] para Pausar</span>
  </div>
</div>

<ng-template #settingsTpl>
  <div class="settings">

    <button class="btn-toggle"
            (click)="game.toggleWallCollision()"
            [class.active]="game.hasWallCollision()">
      Paredes: {{ game.hasWallCollision() ? 'ON' : 'OFF' }}
    </button>

    <button class="btn-toggle"
            (click)="game.toggleMute()"
            [class.muted]="game.isMuted()">
      Som: {{ game.isMuted() ? 'OFF' : 'ON' }}
    </button>

  </div>
</ng-template>
