/* You can add global styles to this file, and also import other style files */

@use 'sass:map';

@use 'app/shared/directives/tooltip/tooltip.theme';
@use 'styles/palettes' as palette;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

:root {
  --font-main: 'Fira Code', 'Courier New', Courier, monospace;
}

html, body {
  height: 100%;
  margin: 0;

  font-family: var(--font-main), monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
  font-family: inherit;
}

@mixin inject-palette($theme-name) {
  $theme-data: map.get(palette.$palettes, $theme-name);

  @each $type, $colors in $theme-data {
    @each $tone, $value in $colors {
      --#{$type}-#{$tone}: #{$value};
    }
  }

  --bg-main: var(--neutral-50);
  --bg-card: var(--neutral-100);
  --text-main: var(--neutral-900);
  --text-muted: var(--neutral-500);
  --border-ui: var(--neutral-300);
}

body {
  &.arcade-theme {
    @include inject-palette("arcade");
    --font-main: 'VT323', monospace;
    --glow-primary: 0 0 10px var(--primary-500);
  }

  &.dark-theme {
    @include inject-palette("dark");
    --glow-primary: none;
  }

  &.light-theme {
    @include inject-palette("light");
    --font-main: 'Inter', sans-serif;
    --glow-primary: none;
  }
}
